

<div class="media well">
  <div class="media-left">
    <%= link_to image_tag(@question.gravatar), class: "media-object" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @question.email %> Asked:</h4>
    <%= time_ago_in_words @question.created_at %> ago<br>
    <%= @question.body %>
    <div>

    </div>
  </div>
</div>

<row>
  <div class=" col-sm-offset-1">
    <div>
      <form ><%= link_to "Submit new answer", '#',:class => 'btn btn-success navbar-btn btn-sm',"data-toggle"=>"modal", "data-target"=>"#new-answer-modal" %></form>
       <%= render 'common/new_answer_form' %>

      <% @question.answers.each do |a| %>
          <div class="media question">
            <div class="media-left">
              <%=link_to image_tag(a.gravatar), class: "media-object" %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= a.email %> Answerd:</h4>
              <%=time_ago_in_words a.created_at%> ago<br>
             <i class="bg-success"> <%= a.body  %></i>

            </div>
          </div>
      <% end %>
      <% if @question.answers.empty? %>
          <div class="alert alert-info">Still no any answer created.</div>
      <%end %>
    </div>

  </div>

</row>

